:root{
    --game-width: 800px;
    --game-height: 500px;
    --sprite-size: 100px;
}
body{
    background-color: black;
}
#title{
    margin: auto;
    font-family: Rock Salt;
    text-align: center;
    font-size: 36px;
    color: red;
    animation: title-glow 1.2s infinite;
    animation-timing-function: linear;
}
@keyframes title-glow {
    0%{
        text-shadow: 0 0 0px #FF0000, 0 0 0px #0000FF;
    }
    50%{
        text-shadow: 0 0 16px #FF0000, 0 0 18px #0000FF;
    }
    100%{
        text-shadow: 0 0 0px #FF0000, 0 0 0px #0000FF;
    }
}
#description{
    font-family: 'Rock Salt';
    color: purple;
}
.game-option{
    width: 200px;
    padding: 10px;
    margin-bottom: 10px;
    font-family: Stick No Bills;
    font-size: 16px;
    background-color: cadetblue;
    color: white;
}
.game-option:hover{
    background-color: cornflowerblue;
}
a{
    text-decoration: none;
}
#back-button{
    height: auto;
    width: var(--game-width);
    background-color: rgb(155, 155, 155);
    margin: auto;
    text-align: center;
    cursor: pointer;
}
#back-button, h1 {
    color: white;
    font-family: Rock Salt;
}
#back-button:hover{
    background-color: rgb(175, 235, 170);
}
#stats{
    height: auto;
    width: var(--game-width);
    background-color: red;
    margin: auto;
    text-align: center;
}
#stats, h1 {
    color: white;
    font-family: Rock Salt;
}
#overlay{
    height: var(--game-height);
    width: var(--game-width);
    background-color: rgba(0,0,0,0.5);
    font-family: Rock Salt;
    text-align: center;
    font-size: 36px;
    color: red;
    z-index: 999;
    position: absolute;
}
#overlay > p{
    padding-top: calc(var(--game-height) * 0.3);
    margin-top: 0px !important;
    font-size: 15px;
}
#overlay > button {
    font-size: 25px;
    font-weight: bold;
    font-family: Rock Salt;
    color: red;
    background-color: rgba(0,0,0,0);
    cursor: pointer !important;
    width: 200px;
    border: 1px solid red;
    border-radius: 10px;
}
#overlay > button:hover {
    background-color: rgba(0,0,0,0.4);
}