#game-window{
    height: var(--game-height);
    width: var(--game-width);
    background-image: url(./imgs/space.png);
    background-position: center;
    background-size: cover;
    margin: auto;
    cursor: url(./imgs/greenhairs.png) 18 18, auto;
    position: relative;
    overflow: hidden;
    user-select: none;
}
.sprite{
    position: absolute;
    height: var(--sprite-size);
    cursor: url(./imgs/crosshairs.png) 18 18, auto;
}
.lvl-1{
    animation: lvl-1-motion 7s forwards;
    animation-timing-function: linear;
}
@keyframes lvl-1-motion {
    0% {
        transform: translateX(calc(0 * var(--game-width))) rotate(20deg) translateY(15px);
    }
    20%{
        transform: translateX(calc(0.2 * var(--game-width))) rotate(-20deg) translateY(0px);
    }
    40%{
        transform: translateX(calc(0.4 * var(--game-width))) rotate(20deg) translateY(15px);
    }
    60%{
        transform: translateX(calc(0.6 * var(--game-width))) rotate(-20deg) translateY(0px);
    }
    80% {
        transform: translateX(calc(0.8 * var(--game-width))) rotate(20deg) translateY(15px);
    }
    99% {
        transform: translateX(calc(var(--game-width) - var(--sprite-size))) rotate(-20deg) translateY(0px);
    }
    100% {
        transform: translateX(calc(var(--game-width) - var(--sprite-size))) rotate(-20deg) translateY(0px);
        visibility: hidden;
    }
}
.dead{
    animation: sprite-death 1s forwards;
    filter: grayscale(100%);
}
@keyframes sprite-death {
    0% {
        height: var(--sprite-size);
    }
    100%{
        height: 0px;
        transform: translate(0, 0);
        margin-left: calc(var(--game-width) * 0.5);
        margin-top: calc(var(--game-height) * 0.5);
        visibility: hidden;
    }
}